on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          # CRAN doesn't provide binaries for macOS on R-devel, so skip because
          # it will be too slow otherwise
          #- {os: macOS-latest, r: 'devel'}
          - { os: macOS-latest, r: "release" }

          - { os: windows-latest, r: "devel" }
          - { os: windows-latest, r: "release" }
          - { os: windows-latest, r: "oldrel" }
          # use 4.1 to check with rtools40's older compiler
          - { os: windows-latest, r: "4.1" }

          #- { os: ubuntu-latest, r: "next" }
          - { os: ubuntu-latest, r: "devel" }
          - { os: ubuntu-latest, r: "release" }
          - { os: ubuntu-latest, r: "4.3" }
          - { os: ubuntu-latest, r: "4.2" }
          - { os: ubuntu-latest, r: "4.1" }
          - { os: ubuntu-latest, r: "4.0" }
          - { os: ubuntu-latest, r: "3.6" }

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
